@media screen and (max-width: 400px) {

    .hideUnder400px {
        display: none;
    }

    header.h1 {
        text-align: center;
    }

    .header-right {
        display: block;
        width: 100%;
    }

    .header-left {
        clear: both;
    }


    /* NAV */
    #menu {
        background-color: #f0f0f0;
        border: none;
    }

    nav ul {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        text-align: center;
    }

        nav ul:after {
            display: none;
        }

    nav li {
        display: block;
    }

        nav li a {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 80%;
            color: #252525;
            background-color: #aec2c1;
            text-align: center;
            padding: 12px 6px;
            margin-bottom: 2px;
            text-decoration: none;
            border: 1px solid black;
            -ms-border-radius: 10px;
            border-radius: 10px;
        }

            nav li a:hover {
                background-color: #c2c2c2;
                text-decoration: none;
            }

    /* button3d */
    .push_button, .push_button_disabled {
        width: 150px;
    }

    /* order*/
    .formBorderBox {
        display: block;
        width: 100%;
    }

    input[type="text"], input[type="number"], select {
        width: 100%;
    }
}