<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />
    <title>Reklam</title>
    <link href="css/main.css" rel="stylesheet" />
    <script src="~/scripts/main.js"></script>       
</head>
<body>
    @RenderPage("header.cshtml")
    @RenderPage("menu.cshtml")
       
        <h1>Reklam</h1>        
            <p>Implementera videospelare här..</p>

        @RenderPage("footer.cshtml", new { footer = Applibrary.Footer.None })

</body>
</html>
