@using System.Diagnostics
@using System.Security.Cryptography.X509Certificates
@using System.Web.Configuration
@using Applibrary;
<footer class="rounded-div">

    @{

        switch ((Applibrary.Footer)PageData["footer"])
        {
            case Applibrary.Footer.Orders:

                var orders = Helpers.ListOrdersOnDisk();

                if (orders.Length == 0)
                {
                    <p>Inga orders på enheten..</p>
                }
                else
                {
                    <h3>Orders på enheten:</h3>
                    <ol>
                        @foreach (var order in orders)
                        {
                        <li>
                            @order
                        </li>
                        }
                    </ol>
                }
                break; // Always break each case
            case Applibrary.Footer.Synchronize:
                <p>Senaste synkroniseringen: <time id="lastSyncDate">Ingen synkronisering gjord.</time></p>
                break;
            default:
                <p>"Du köper vi levererar."</p>
                break;
        }
    }
</footer>