<header>
    <div>
        <svg height="100" width="100" id="networkicon">
            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" />
        </svg>
    </div>
    <div>
        <h1>Skruv och bult AB</h1>
        <h2>Skickar sakerna på momangen</h2>
        <h3>
            Vi förmedlar verktyg,skruvar och bultar till nästan alla ställen.
        </h3>
    </div>   
</header>