<nav>
    <ul>
        <li><a href="~/Products.cshtml">Produkter</a></li>
        <li><a href="~/Order.cshtml">Lägg order</a></li>
        <li><a href="~/Synchronize.cshtml">Synkronisera</a></li>
        <li><a href="~/Advertise.cshtml">Reklam</a></li>
        <li><a href="~/About.cshtml">Om oss</a></li>
    </ul>
</nav>