<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Order</title>
    <link rel="icon" href="favicon.ico?v=4">
    <link href="css/StyleSheet3DButton.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <script src="~/scripts/modernizr-custom-dev.js"></script>
    <script src="~/scripts/main.js"></script>
    <script src="~/scripts/order.js"></script>
    <script src="~/scripts/localStorage.js"></script>
</head>
<body>
    @RenderPage("header.cshtml")
    @RenderPage("menu.cshtml")

    @RenderPage("Order_markup.cshtml")

    @RenderPage("footer.cshtml", new { footer = Applibrary.Footer.None })

</body>
</html>
