<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Skruv och bult - Om oss</title>
    <link rel="icon" href="favicon.ico?v=4">
    <link href="css/main.css" rel="stylesheet" />
    <script src="~/scripts/main.js"></script>
    <script src="~/scripts/rotate.js"></script>
</head>

<body>
    @RenderPage("header.cshtml")
    @RenderPage("menu.cshtml")

    <div> 
        <h1>Produkter</h1>
        <article>
            <header>
                <h4>Polygrip Cobra</h4>
                <a href="#"
                   target="_blank">
                    <img src="images\polygrip.png" 
                         alt="Polygrip Cobra" />
                </a>
            </header>
            <ul>
                <li>Maximal gripvidd 25 mm</li>
                <li>Enhandsjustering i elva positioner</li>
                <li>Chrome Vanadium-stål</li>
            </ul>
            <p>Pris: 135 SEK</p>
        </article>

        <article>
            <header>
                <h4>Vattenpass pocket</h4>
                <a href="#"
                   target="_blank">
                    <img src="images\vattenpass.png" 
                         alt="Vattenpass pocket" />
                </a>
            </header>
            <ul>
                <li>Ultrakompakt</li>
                <li>Magnetfäste</li>
                <li>Stötsäker</li>
            </ul>
            <p>Pris: 285 SEK</p>
        </article>
        <article>
            <header>
                <h4>Skruvdragare</h4>
                <a href="#"
                   target="_blank">
                    <img src="images\skruvdragare.png"
                         alt="Skruvdragare" />
                </a>
            </header>
            <ul>
                <li>Borstlös motor</li>
                <li>Steglös momentkontroll</li>
                <li>Starka batterier</li>
            </ul>
            <p>Pris: 985 SEK</p>
        </article>
        <article>
            <header>
                <h4>Allroundgas</h4>
                <a href="#"
                   target="_blank">
                    <img src="images\gas.png"
                         alt="Allroundgas" />
                </a>
            </header>
            <ul>
                <li>Butangas</li>
                <li>Sex munstycken ingår</li>
                <li>Snabbfäste</li>
            </ul>
            <p>Pris: 76 SEK</p>
        </article>
        <article>
            <header>
                <h4>Dragblock</h4>
                <a href="#"
                   target="_blank">
                    <img src="images\dragblock.png"
                         alt="Dragblock" />
                </a>
            </header>
            <ul>
                <li>Robust dragblock med stålkrokar</li>
                <li>Dubbla kugghjul</li>
                <li>Lång stålvajer</li>                
            </ul>
            <p>Pris: 425 SEK</p>
        </article>
        <article>
            <header>
                <h4>Räfsa</h4>
                <a href="#"
                   target="_blank">
                    <img src="images\räfsa.png"
                         alt="Räfsa" />
                </a>
            </header>
            <ul>
                <li>Utbytbart räfshuvud</li>
                <li>Gorda combisystems</li>
                <li>Steglös momentkontroll</li>                
            </ul>
            <p>Pris: 95 SEK</p>
        </article>
     </div> 
@RenderPage("footer.cshtml", new { footer = Applibrary.Footer.Orders })    
</body>
</html>
