<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Synkronisera</title>
    <link rel="icon" href="favicon.ico?v=4">
    <link href="css/main.css" rel="stylesheet" />
    <link href="~/css/StyleSheet3DButton.css" rel="stylesheet" />
    <script src="~/scripts/modernizr-custom-dev.js"></script>
    <script src="~/scripts/main.js"></script>
    <script src="~/scripts/localStorage.js"></script>
</head>
<body>
    @RenderPage("header.cshtml")
    @RenderPage("menu.cshtml")

    <h2>Ej skickade orders</h2>
    <article class="rounded-div main-content">
        <section>
            <ol id="listOfUnsentOrders">
            </ol>
        </section>
    </article>
    <div id="push_button_sync" class="push_button" onclick="syncLocalData()">Synkronisera</div>
    @RenderPage("footer.cshtml", new { footer = Applibrary.Footer.Synchronize })

<script>

</script>
</body>
</html>
